:root {
    --primary-color: #007bff;
    --accent-color: #28a745;
    --dark-color: #343a40;
    --light-color: #6c757d;
}

// Body
$primary: var(--primary-color);
$accent: var(--accent-color);
$text-color: var(--dark-color);
$link-color: var(--light-color);
$error: #dc3545;

/*breakpoints*/
$desktop-xxl-large: 1600px;
$desktop-large: 1400px;
$desktop: 1200px;
$tablet-pro: 1024px;
$tablet: 991px;
$mobile: 767px;
$xs-screen: 480px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;